table.tablesorter thead tr .sortHead {
    background-image: url(../images/metro-unsorted.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    outline: 0 none;
}
table.tablesorter thead tr .tablesorter-headerAsc {
    background-image: url(../images/metro-white-asc.png);
}
table.tablesorter thead tr .tablesorter-headerDesc {
    background-image: url(../images/metro-white-desc.png);
}
table.tableWithoutBorder tbody tr td{
    border-top: 0;
}

.rotate {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.bibFacet {
    background-color: lightgrey;
}

.itemFacet {
    background-color: lightblue;
}