<!DOCTYPE html>
<html>
<head>
    <title>ReCAP</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="lib/Bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body class="error-page">
<div class="error-page-wrapper">
    <div class="container">
        <div class="row margin-btm-60">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <h1>
                    An unexpected error has occured,<br>please try again!</br>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><img src="images/error-page01.png" alt=""/></div>
        </div>
    </div>
</div>
</body>
</html>>