<div id="recapPageFooterId" name="recapPageFooterName">
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $.ajax({url: "/getVersionNumberService", success: function(result){
                console.log(result);
                $("#version").html(result);
            }});
        });
    </script>
    <footer>
        <div class="container-fluid">
            <p><span class="pull-left margin-10"> Version::<span id="version"></span></span><span class="pull-right margin-10">&copy; 2016 RECAP All Rights Reserved</span></p>
        </div>
    </footer>
</div>